<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		{% for image in field.value %}
			{{dump(image)}}
			<div class="carousel-item {% if loop.first %} active {% endif %} ">
				<a href="#" class="ea-lightbox-thumbnail" data-featherlight="#ea-lightbox-{{image.id}}" data-featherlight-close-on-click="anywhere">
					<img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('thumb') }}" class="img-fluid">
				</a>

				<div id="ea-lightbox-{{image.id}}" class="ea-lightbox">
					<img src="{{ vich_uploader_asset(image, 'imageFile')}}">
				</div>
			</div>

		{% endfor %}
	</div>
	<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
