{% extends 'base.html.twig' %}

{% block title %}Blog passe-temps
{% endblock %}

{% block body %}

	{% include "_jumbotron.html.twig" %}

	<section class="page-section bg-primary" id="about">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<h2 class="text-white mt-0">A propos de moi</h2>
					<hr class="divider light my-4"/>
					<p class="text-white-50 mb-4">
						{% if about is not null %}
							{% autoescape  %}
								{{about.content|raw}}
							{% endautoescape %}
						{% else %}
							Je ne me suis pas encore décrit, mais ça ne va pas tarder
						{% endif %}
					</p>
					<a class="btn btn-light btn-xl js-scroll-trigger" href="{{path('about')}}">En savoir un peu plus</a>
				</div>
			</div>
		</div>
	</section>

	<section id="lastPost" class="bg-light page-section">
		<div class="container-fluid ">
			<div class="row">
				<ul class="grid cs-style-2">
					{% for post in latestPosts  %}
						<li>
							<figure>
								<img src="{{vich_uploader_asset(post, 'thumbnailFile') | imagine_filter('medium')}}" alt="image-{{post.title}}">
								<figcaption>
									<h3>{{post.title}}</h3>
									<a href="{{path('post.show', {id: post.id, slug: post.slug})}}">Voir l'article</a>
								</figcaption>
							</figure>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</section>

	<!-- About-->
	<section class="page-section bg-primary" id="about">
		<div class="container">
			<div class="row justify-content-center">

				<div class="col-12 text-center">
					<h2 class="text-white">Me contacter</h2>
					<hr class="divider light my-4"/>

				</div>

				<div class="col-lg-6 text-center">
					<h3 class="text-white">Réseaux</h3>
					<a href="https://www.facebook.com/madeleine.faihy.7" target="_blank" class="btn btn-primary">
						<i class="fab fa-facebook-square fa-3x"></i>
					</a>
					<a href="https://twitter.com/Faihy3" class="btn btn-primary">
						<i class="fab fa-twitter-square fa-3x"></i>
					</a>

				</div>
				<div class="col-lg-6 text-center">
					<h3 class="text-white">Mail</h3>
					<a class=" btn btn-primary" href="mailto:madeleine.f@live.fr">
						<i class="fas fa-envelope fa-3x "></i>
					</a>
				</div>
			</div>
		</div>
	</section>

	<section id="gallery-image">
		<div class="container-fluide p-0">
			<div class="row no-gutters">
				{% for image in images  %}
					<div class="col-lg-4 col-sm-6">
						<a href="#" data-featherlight="{{vich_uploader_asset(image, 'imageFile') | imagine_filter('medium')}}" style="background-image: url({{vich_uploader_asset(image, 'imageFile') | imagine_filter('medium')}});" class="image-gallery">
							<span style="background-color:{{image.post.categories.color}}" class="tag py-2 px-4 text-white mb-2">{{image.post.categories.name}}</span>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>


{% endblock %}
