{% for comment in comments  %}
	<li class="comment">
		<div class="comment-body">
			<h3 class="display-1">{{comment.author}}&nbsp;
				<span class="meta">{{comment.createdAt|date('m/d/Y')}}</span>
			</h3>
			<p>{{comment.content}}</p>
			<p>
				<a class="btn btn-success" data-form id="{{comment.id}}">Répondre</a>
				{{ render(controller('App\\Controller\\Blog\\CommentController::commentForm',  {class: 'hidden-form p-5 bg-light',id: comment.id, form_id: "comment-" ~ comment.id, path: 'comment.edit'}))  }}</p>
			{% if comment.commentChildrens %}
				<ul class="children">
					{% for children in comment.commentChildrens  %}
						<p>
							<a class="btn btn-default" data-toggle="collapse" href="#collapseComment" role="button" aria-expanded="false" aria-controls="collapseComment">
								{{comment.commentChildrens | length}}
								commentaires
							</a>
						</p>
						<li class="comment collapse" id="collapseComment">
							<div class="comment-body">
								<h3>{{children.author}}&nbsp;
									<span class="meta">{{children.createdAt|date('m/d/Y')}}</span>
								</h3>
								<p>{{children.content}}</p>
							</div>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</li>
	{% endfor %}
