<div class="pt-5 d-flex flex-column">
	<h3 class="mb-5">{{comments.getTotalItemCount}}
		commentaires</h3>
	<ul class="comment-list">
		{% for comment in comments  %}
			<li class="comment">
				<div class="comment-body">
					<h3 class="display-1">{{comment.author}}</h3>
					<div class="meta">{{comment.createdAt|date('m/d/Y')}}</div>
					<p>{{comment.content}}</p>
					<p>
						<a class="btn btn-success" data-form id="{{comment.id}}">Répondre</a>
						{{ render(controller('App\\Controller\\Blog\\CommentController::commentForm',  {hidden: 'hidden-form',id: comment.id, form_id: "comment-" ~ comment.id, path: 'comment.edit'}))  }}</p>
					{% if comment.commentChildrens %}
						<ul class="children">
							{% for children in comment.commentChildrens  %}
								<li class="comment">
									<div class="comment-body">
										<h3>{{children.author}}</h3>
										<div class="meta">{{children.createdAt|date('m/d/Y')}}</div>
										<p>{{children.content}}</p>
									</div>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
		<div class="pagination justify-content-center">
			{{ knp_pagination_render(comments) }}
		</div>
	</div>
